__pycache__/
wn_test
screenlog.0
checkpoints/

# environments
venv/

# IDE
.ipynb_checkpoints/
.idea/

# Log
*.log
textbook/*
.vscode/*
graph_embedding_paper/*
datasets_/*

.DS_Store



# LaTeX intermediate and output files
*.aux
*.loa
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.fdb_latexmk
*.fls
*.run.xml
*.synctex(busy)

# Editor swap and backup files
*~
*.swp
*.bak
*.tmp

# TeXShop
*.pdfsync
*.texpadtmp

# VS Code
.vscode/
*.code-workspace

# MacOS system files
.DS_Store

# Output PDF (optional, if you want to exclude it)
# *.pdf
